<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to CodeIgniter</title>

<center><h1>用户登录</h1></center>

    <form action="caixiaodou?page=login.html" method="post">
    
    <center>
    <input name="sub" type="submit" value="登录" />
    </center>
    </form>
    
    
    <center><h1>用户注册界面</h1></center>
    
    <form action="caixiaodou?page=register.html" method="post">
    
    <center>
    <input name="sub" type="submit" value="注册" />
    </center>
    
    </form>

</body>
</html>